@font-face {
  font-family: Chewy-Regular;
  src: url('../src/fonts/Chewy-Regular.ttf');
}

.main{
  background-color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.divCoracao{
  width: 20%;
  height: max-content;
  display: block;
  margin: 0 auto;
}

.divCoracao img {
  width: 100%;
}

.login-container{
  width: 100%;
  height: 100vh;
}

.login{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  gap: 2rem;
}

.inputLogin{
  padding: 1.3rem;
  border-radius: 7px;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #E4E4E4;
}

.buttonLogin{
  padding: 1rem;
  border-radius: 7px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: #FF5757;
}

.avataresContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: max-content;
  bottom: -50px;
}

.avataresContainer img{
  width: 25%;
}